@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), url("https://cdn.jsdelivr.net/gh/Schwarzkopf-Henkal/CDN/UR.ttf");
}

@font-face {
    font-family: "UbuntuMono";
    src: local("Ubuntu Mono"), url("https://cdn.jsdelivr.net/gh/Schwarzkopf-Henkal/CDN/URM.ttf");
}

.with_shadow {
    border-radius: 5px;
    box-shadow: 2px 5px 2px grey, -2px 5px 2px grey, 2px -1px 2px grey, -2px -1px 2px grey;
}

.console_default {
    height: 588px;
    width: 890px;
    position: absolute;
}

#headbar {
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    background-image: linear-gradient(to bottom, #59574F, #403F3A);
    width: 890px;
    height: 30px;
    top: 0px;
    left: 0px;
}

.toolbar {
    position: absolute;
    background-color: #3C3B37;
    width: 890px;
    height: 30px;
    top: 30px;
    left: 0px;
}

.select_deny {
    user-select: none;
}

#title {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 16px;
    height: 0px;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#window_nav {
    height: 20px;
    width: 80px;
    position: absolute;
    left: 812px;
    top: 3px;
}

#mini_icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url("https://cdn.jsdelivr.net/gh/Schwarzkopf-Henkal/CDN/icons/mini.png");
    background-position: center center;
    background-size: 17px 17px;
    background-color: #7D7C76;
    border-radius: 10px;
}

#full_icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url("https://cdn.jsdelivr.net/gh/Schwarzkopf-Henkal/CDN/icons/full.png");
    background-position: center center;
    background-size: 17px 17px;
    background-color: #7D7C76;
    border-radius: 10px;
}

#exit_icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url("https://cdn.jsdelivr.net/gh/Schwarzkopf-Henkal/CDN/icons/exit.png");
    background-position: center center;
    background-size: 17px 17px;
    background-color: #E55D2F;
    border-radius: 10px;
}

#console_background {
    position: absolute;
    width: 890px;
    height: 528px;
    /* border-radius: 0px 0px 5px 5px; */
    background-color: #2D0922;
    left: 0px;
    top: 60px;
}

.tool_option {
    text-decoration: none;
    color: white;
}

.tool_option:first-child {
    margin-left: 6px;
}

.option_container {
    position: absolute;
    top: 30px;
    width: auto;
    height: auto;
    display: none;
    /* display: block; */
    background-color: #3C3B37;
    z-index: 99999;
    padding-bottom: 2px;
}

.tool_option:hover {
    cursor: default;
}

.tool_option:focus+.option_container {
    display: block;
}


/* .tool_option:active+.option_container {
    display: block;
} */

.opt_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

.options {
    padding-left: 1.1em;
    height: 1.8em;
    padding-right: 0.5em;
    line-height: 1.8em;
}

.options:hover {
    background-color: #EE7747;
}

.option_note {
    opacity: 0.5;
    /* position: absolute;
    right: 0px; */
}

.bar_box {
    position: absolute;
    opacity: 0;
    height: 30px;
    width: 60px;
    margin: 0;
    top: 0;
}

.bar_box:checked+.option_container {
    display: block;
}

#F {
    left: 4px;
}

#E {
    left: 67px;
}

#V {
    left: 130px;
}

#S {
    left: 195px;
}

#T {
    left: 260px;
}

#H {
    left: 324px;
}

.output {}